.main-slide-form {
  background-image: url("../../../public/images/home/home1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1%;
  padding-bottom: 5%;
}
.slide-form h2 {
  margin-top: 20px;
}
.slide-form {
  position: relative;
  top: 1%;
  left: 6%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 40%;
  height: 75%;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 10px;
}
.slide-form input {
  margin-top: 20px;
  padding: 10px;
}
.slide-form .flex_space input:nth-child(odd) {
  margin-right: 20px;
}
.slide-form .submit {
  background: #31b675;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .slide-form {
    position: relative;
    top: 1%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 85%;
    height: 75%;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 10px;
  }
}